<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Editar película", edit_movie_path(@movie), class: "btn btn-primary" %> 
  <%= link_to "Volver a películas", movies_path, class: "btn btn-primary" %>
</div>
<br>
  <%= button_to "Eliminar esta película", @movie, method: :delete, class: "btn btn-danger" %>
